<header>
    <div class="header">
        <h1> {{title}} </h1>
        <div class="header-content">
            <form>
                <input placeholder="Location">
                <button>Search</button>
            </form>
        </div>
    </div>
</header>