body {
    background: linear-gradient(#ccff99,#f2f2f2);
    color: #868686;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
}
footer {
    color: #7c6f6f;
    border-top: 1px solid rgb(171, 235, 171);
}
.name{
    margin-top: 16px;
    padding: 0px 20px;
    text-align: right;
    float: right;
    width: 25%;
}
h1 {
    font-size: 50px;
    padding-bottom: 30px;
}
.main-content{
    flex-grow: 1;
}
input {
    border: 1px solid green;
    border-radius: 5px;
    padding: 10px;
    width: 250px;
    color: rgb(245, 96, 10);
}
input:hover {
    background-color: #ccff99;
    
}
.header {
    padding-bottom: 20px;
    height: 40vh;
    text-align: center;
    position: relative;
}
.header-content {
    position: absolute;
    bottom: 0;
    width: 100%;
}
button {
    cursor: pointer;
    border: 1px solid green;
    background-color: white;
    color: green;
    border-radius: 5px;
    padding: 10px 20px;
}
button:hover {
    background-color: green;
    color: white;
}
.para{
    height: 40vh;
    width: 100%;
    margin-top: 10px;
    position: relative;
    padding-top: 50px;
    box-sizing: border-box;
}
p{
    text-align: center;
    color: rgb(121, 121, 121);
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}